.container {
        max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
        margin: 0 auto;
        padding-left: var(--mobile-padding);
        padding-right: var(--mobile-padding);
}

/* grid */
.row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 calc(var(--gutter) * -1);
}

.col-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-1 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 1 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-1 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 1 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-1 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 1 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-1 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 1 - var(--gutter) * 2);
        }
}

.col-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-2 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 2 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-2 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 2 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-2 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 2 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-2 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 2 - var(--gutter) * 2);
        }
}

.col-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-3 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 3 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-3 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 3 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-3 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 3 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-3 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 3 - var(--gutter) * 2);
        }
}

.col-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-4 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 4 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-4 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 4 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-4 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 4 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-4 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 4 - var(--gutter) * 2);
        }
}

.col-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-5 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 5 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-5 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 5 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-5 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 5 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-5 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 5 - var(--gutter) * 2);
        }
}

.col-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-6 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 6 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-6 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 6 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-6 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 6 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-6 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 6 - var(--gutter) * 2);
        }
}

.col-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-7 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 7 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-7 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 7 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-7 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 7 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-7 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 7 - var(--gutter) * 2);
        }
}

.col-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-8 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 8 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-8 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 8 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-8 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 8 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-8 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 8 - var(--gutter) * 2);
        }
}

.col-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-9 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 9 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-9 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 9 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-9 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 9 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-9 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 9 - var(--gutter) * 2);
        }
}

.col-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-10 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 10 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-10 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 10 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-10 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 10 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-10 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 10 - var(--gutter) * 2);
        }
}

.col-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-11 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 11 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-11 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 11 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-11 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 11 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-11 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 11 - var(--gutter) * 2);
        }
}

.col-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
}

/* xl */
@include breakpoint(xl) {
        .col-xl-12 {
                margin: 0 var(--gutter)x;
                width: calc(100% / 12 * 12 - var(--gutter) * 2);
        }
}

/* lg */
@include breakpoint(lg) {
        .col-lg-12 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 12 - var(--gutter) * 2);
        }
}

/* md */
@include breakpoint(md) {
        .col-md-12 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 12 - var(--gutter) * 2);
        }
}

/* sm */
@include breakpoint(sm) {
        .col-sm-12 {
                margin: 0 var(--gutter);
                width: calc(100% / 12 * 12 - var(--gutter) * 2);
        }
}